.home .hero img 
	max-height: 224px !important

.theme-default-content:not(.custom) img 
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
	border-radius: .3rem

a:hover
	text-decoration: none !important

.custom-block.tip {
	border-color: #1E88E5 !important
}